.navbar {

    background-color: white;

    img {
        height: 25px;
    }
    .navbar-brand {
        padding: 0.8rem 0;
    }
    .nav-links {
        a {
            margin-left: 1.3rem;
            font-family: 'Epilogue', sans-serif;
            font-size: 14px;
        }

        a:nth-child(1) {
            color: black;
            padding: 0.8rem 1rem 0.8rem 1rem;
            border: 1px solid black;
            border-radius: 5px;
        }

        a:nth-child(2) {
            color: white;
            background-color: black;
            padding: 0.8rem 1rem 0.8rem 1rem;
            border: 1px solid black;
            border-radius: 5px;
        }

    }
}